.blob-button {
	background: #00c7ba;
	color: white;
	border: none;
	padding: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 1px;
	border-radius: 50px;
	font-family: "Seurat Pro B", sans-serif;
	font-size: 22px;
	cursor: pointer;
	outline: inherit;
	min-width: 200px;
	transition: transform 0.05s ease-in-out;
}

.blob-button-small {
		font-size: 18px;
		padding-left: 20px;
		padding-right: 20px;
		min-width: 170px;
}

.blob-button:hover {
	transform: scale(1.1);
	transition: transform 0.075s ease-in-out;
}

@media screen and (max-width: 700px) and (orientation: portrait) {
	.blob-button {
		font-size: 18px;
		min-width: 150px;
		margin-bottom: 10px;
	}

	.card-zoomable:hover {
		transform: none !important;
	}
}