.card-tilt:nth-child(even) {
	transform: rotate(-2deg);

}

.card-tilt:nth-child(odd) {
	transform: rotate(2deg);

}

:root {
	--card-horizontal-padding: 9%;
	--card-vertical-padding: 9.1%;
	--card-scale: 0.35;
	--card-start-color: #010101;
	--card-message-color: #010101;
	--card-signature-color: #010101;
}

.card {
	width: calc(1180px * var(--card-scale));
	height: calc(748px * var(--card-scale));
	background-repeat: no-repeat;
	background-size: contain;
	filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.15));
	margin: 15px;
	box-sizing: border-box;
	font-family: "Seurat Pro B", "Varela Round", sans-serif;
	font-size: calc(36px * var(--card-scale));
	letter-spacing: calc(3.5px * var(--card-scale));
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	will-change: transform;
}

.card-overlay-label {
	position: absolute;
	z-index: 2;
	font-size: calc(50px * var(--card-scale));
	color: #fff;
	background-color: #f49802;
	padding: calc(8px * var(--card-scale)) calc(40px * var(--card-scale));
	padding-bottom: calc(4px * var(--card-scale));
	border-radius: calc(30px * var(--card-scale));
}

.card-limited-label {
	top: calc(20px * var(--card-scale));
	left: calc(-10px * var(--card-scale));
	transform: rotate(-4deg);
}

.card-until-label {
	bottom: calc(20px * var(--card-scale));
	right: calc(-10px * var(--card-scale));
	transform: rotate(-4deg);
}

.card-zoomable {
	transition-duration: 0.15s;
	cursor: pointer;
}

.card-zoomable:hover {
	transform: scale(1.15);
	filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
	transition-duration: 0.15s;
	z-index: 2;
}

.card-start,
.card-signature {
	padding: var(--card-background-padding);
	padding-top: calc(var(--card-background-padding) / 3);
	padding-bottom: calc(var(--card-background-padding) / 3);
	z-index: 2;
}

.card-start,
.card-signature {
	line-height: 1.2;
	padding: 2.1%;
	padding-top: 0.8%;
	padding-bottom: 0.8%;
}

.card-start {
	position: absolute;
	top: var(--card-vertical-padding);
	left: var(--card-horizontal-padding);
	color: var(--card-start-color);
	margin-left: calc(var(--card-background-padding) * -1);
}

.card-message-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding-left: 14%;
	padding-right: 13%;
	flex-grow: 1;
	box-sizing: border-box;
}

.card-message-inner-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	word-break: break-word;
	/* Padding for the canvas background */
	padding: 3.8%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.card-message {
	color: var(--card-message-color);
	max-width: 100%;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	max-height: 6lh;
	overflow: scroll;
	scrollbar-width: none;
}

.card-signature {
	position: absolute;
	text-align: right;
	bottom: var(--card-vertical-padding);
	right: var(--card-horizontal-padding);
	color: var(--card-signature-color);
	margin-right: calc(var(--card-background-padding) * -1);
}

.card-label {
	font-size: 14px;
	color: #fffeee;
	text-shadow: none;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) translateY(50%);
	opacity: 0;
	background: #4ebcb1;
	padding: 10px;
	border-radius: 100px;
}

.card:hover .card-label {
	opacity: 95%;
	transition: opacity 0.1s ease-in-out;
}

.acorn-card {
	background-image: url("./backgrounds/Acorn_Card_NH.webp");
	--card-start-color: #fff6d0;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.airmail-card {
	background-image: url("./backgrounds/Airmail_Card_NH.webp");
}

.baby-goods-card {
	--card-horizontal-padding: 13%;
	background-image: url("./backgrounds/Baby-Goods_Card_NH.webp");
	--card-start-color: #69544e;
	--card-message-color: #66bdca;
	--card-signature-color: var(--card-start-color);
}

.balloons-card {
	background-image: url("./backgrounds/Balloons_Card_NH.webp");
	--card-start-color: #da8528;
	--card-message-color: #64553b;
	--card-signature-color: var(--card-start-color);
}

.bandage-card {
	background-image: url("./backgrounds/Bandage_Card_NH.webp");
	--card-start-color: #fbffff;
	--card-message-color: #1173a3;
	--card-signature-color: var(--card-start-color);
}

.beach-card {
	background-image: url("./backgrounds/Beach_Card_NH.webp");
	--card-start-color: #843800;
	--card-message-color: #a55100;
	--card-signature-color: var(--card-start-color);
}

.birthday-cake-card {
	background-image: url("./backgrounds/Birthday-Cake_Card_NH.webp");
	--card-start-color: #533d15;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.blue-sky-card {
	background-image: url("./backgrounds/Blue-Sky_Card_NH.webp");
	--card-start-color: #a8ecff;
	--card-message-color: #d7f8ff;
	--card-signature-color: var(--card-start-color);
}

.bunny-day-card {
	background-image: url("./backgrounds/Bunny_Day_Card_NH.webp");
	--card-start-color: #6c524a;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.carpet-of-leaves-card {
	background-image: url("./backgrounds/Carpet-Of-Leaves_Card_NH.webp");
	--card-start-color: #ffecc0;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.camo-card {
	background-image: url("./backgrounds/Camo_Card_NH.webp");
	--card-start-color: #e8e280;
	--card-message-color: #fff3ce;
	--card-signature-color: var(--card-start-color);
}

.cherry-blossoms-card {
	background-image: url("./backgrounds/Cherry-Blossoms_Card_NH.webp");
	--card-start-color: #fb60a6;
	--card-message-color: #913762;
	--card-signature-color: var(--card-start-color);
}

.fluffy-clouds-card {
	background-image: url("./backgrounds/Fluffy-Clouds_Card_NH.webp");
	--card-start-color: #313953;
	--card-message-color: #0b509e;
	--card-signature-color: #fbfdff;

}

.cool-cool-card {
	background-image: url("./backgrounds/Cool-Cool_Card_NH.webp");
	--card-start-color: #dedede;
	--card-message-color: #afafaf;
	--card-signature-color: var(--card-start-color);

}

.common-card {
	background-image: url("./backgrounds/Common_Card_NH.webp");
	--card-start-color: #806059;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.dandelion-card {
	background-image: url("./backgrounds/Dandelion_Card_NH.webp");
	--card-start-color: #217703;
	--card-message-color: #f27625;
	--card-signature-color: var(--card-start-color);
}

.dawning-year-card {
	background-image: url("./backgrounds/Dawning-Year_Card_NH.webp");
	--card-start-color: #382d20;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.decorative-card {
	background-image: url("./backgrounds/Decorative_Card_NH.webp");
	--card-start-color: #ffffc5;
	--card-message-color: #ac441a;
	--card-signature-color: var(--card-start-color);
}

.elegant-roses-card {
	background-image: url("./backgrounds/Elegant-Roses_Card_NH.webp");
	--card-start-color: #ebd989;
	--card-message-color: #f0dbb1;
	--card-signature-color: var(--card-start-color);
}

.fanciful-card {
	background-image: url("./backgrounds/Fanciful_Card_NH.webp");
	--card-start-color: #ffe2d4;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.fantasy-stars-card {
	background-image: url("./backgrounds/Fantasy-Stars_Card_NH.webp");
	--card-start-color: #ea61dd;
	--card-message-color: #6733e5;
	--card-signature-color: #fe973d;
}

.fathers-day-card {
	background-image: url("./backgrounds/Fathers_Day_Card_NH.webp");
}

.festive-tree-card {
	background-image: url("./backgrounds/Festive-Tree_Card_NH.webp");
	--card-start-color: #fdffff;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.fireworks-card {
	background-image: url("./backgrounds/Fireworks_Card_NH.webp");
	--card-start-color: #ffbaf4;
	--card-message-color: #c9a3ff;
	--card-signature-color: #92a7f7;
}

.flower-bouquet-card {
	background-image: url("./backgrounds/Flower-Bouquet_Card_NH.webp");
	--card-start-color: #673d2c;
	--card-message-color: #933102;
	--card-signature-color: var(--card-start-color);
}

.full-bloom-card {
	background-image: url("./backgrounds/Full-Bloom_Card_NH.webp");
	--card-start-color: #983f1c;
	--card-message-color: #e06200;
	--card-signature-color: var(--card-start-color);
}

.gears-card {
	background-image: url("./backgrounds/Gears_Card_NH.webp");
	--card-start-color: #fdfcff;
	--card-message-color: #8de7de;
	--card-signature-color: var(--card-start-color);
}

.gem-card {
	background-image: url("./backgrounds/Gem_Card_NH.webp");
	--card-start-color: #2d7f86;
	--card-message-color: #398470;
	--card-signature-color: var(--card-start-color);
}

.goldfish-card {
	background-image: url("./backgrounds/Goldfish_Card_NH.webp");
	--card-start-color: #44483e;
	--card-message-color: #2d7895;
	--card-signature-color: var(--card-start-color);
}

.graduation-card {
	background-image: url("./backgrounds/Graduation_Card_NH.webp");
	--card-start-color: #fffeff;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.graffiti-card {
	background-image: url("./backgrounds/Graffiti_Card_NH.webp");
	--card-start-color: #18f6e4;
	--card-message-color: #f4f72d;
	--card-signature-color: var(--card-start-color);
}

.halloween-card {
	background-image: url("./backgrounds/Halloween_Card_NH.webp");
	--card-start-color: #fed04b;
	--card-message-color: #fe9e34;
	--card-signature-color: #fdd347;
}

.happy-clovers-card {
	background-image: url("./backgrounds/Happy-Clovers_Card_NH.webp");
	--card-start-color: #6a441b;
	--card-message-color: #1a4a00;
	--card-signature-color: var(--card-start-color);
}

.hibiscus-card {
	background-image: url("./backgrounds/Hibiscus_Card_NH.webp");
	--card-start-color: #d90b7c;
	--card-message-color: #188da0;
	--card-signature-color: var(--card-start-color);
}

.holiday-card {
	background-image: url("./backgrounds/Holiday_Card_NH.webp");
	--card-start-color: #1f7c56;
	--card-message-color: #a70005;
	--card-signature-color: var(--card-start-color);
}

.lovely-hearts-card {
	background-image: url("./backgrounds/Lovely_Hearts_Card_NH.webp");
	--card-start-color: #f29e9f;
	--card-message-color: #d15c64;
	--card-signature-color: var(--card-start-color);
}

.mothers-day-card {
	background-image: url("./backgrounds/Mothers_Day_Card_NH.webp");
}

.mushroom-card {
	background-image: url("./backgrounds/Mushroom_Card_NH.webp");
	--card-start-color: #f9f2da;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.pumpkin-card {
	background-image: url("./backgrounds/Pumpkin_Card_NH.webp");
	--card-start-color: #faf9de;
	--card-message-color: #fce26b;
	--card-signature-color: var(--card-start-color);
}

.red-dragonflies-card {
	background-image: url("./backgrounds/Red-Dragonflies_Card_NH.webp");
	--card-start-color: #ef682a;
	--card-message-color: #b96645;
	--card-signature-color: var(--card-start-color);
}

.ribbon-card {
	background-image: url("./backgrounds/Ribbon_Card_NH.webp");
	--card-start-color: #3a020d;
	--card-message-color: #5d554a;
	--card-signature-color: var(--card-start-color);
}

.shapes-card {
	background-image: url("./backgrounds/Shapes_Card_NH.webp");
	--card-start-color: #42bf7e;
	--card-message-color: #635a53;
	--card-signature-color: var(--card-start-color);
}

.shooting-stars-card {
	background-image: url("./backgrounds/Shooting-Stars_Card_NH.webp");
	--card-start-color: #8dd5f6;
	--card-message-color: #d7eff9;
	--card-signature-color: var(--card-start-color);
}

.snowflake-card {
	background-image: url("./backgrounds/Snowflake_Card_NH.webp");
	--card-start-color: #3ea0ba;
	--card-message-color: #02739b;
	--card-signature-color: var(--card-start-color);
}

.snowperson-card {
	background-image: url("./backgrounds/Snowperson_Card_NH.webp");
	--card-start-color: #3a9eba;
	--card-message-color: #f9ffff;
	--card-signature-color: var(--card-start-color);
}

.so-many-hearts-card {
	background-image: url("./backgrounds/So-Many-Hearts_Card_NH.webp");
	--card-start-color: #8d02d3;
	--card-message-color: #fffbff;
	--card-signature-color: var(--card-start-color);
}

.star-card {
	background-image: url("./backgrounds/Star_Card_NH.webp");
	--card-start-color: #c24309;
	--card-message-color: #1b3d62;
	--card-signature-color: var(--card-start-color);
}

.stationary-goods-card {
	background-image: url("./backgrounds/Stationery-Goods_Card_NH.webp");
	--card-start-color: #6e6e6f;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.torn-card {
	background-image: url("./backgrounds/Torn_Card_NH.webp");
	--card-start-color: #717171;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.town-view-card {
	background-image: url("./backgrounds/Town-View_Card_NH.webp");
	--card-start-color: #5a0100;
	--card-message-color: #7c2100;
	--card-signature-color: var(--card-start-color);
}

.turkey-day-card {
	background-image: url("./backgrounds/Turkey_Day_Card_NH.webp");
	--card-start-color: #b34b00;
	--card-message-color: #7a1d00;
	--card-signature-color: var(--card-start-color);
}

.velvety-card {
	background-image: url("./backgrounds/Velvety_Card_NH.webp");
	--card-start-color: #c07d02;
	--card-message-color: #ebbe62;
	--card-signature-color: var(--card-start-color);
}

.warm-sweater-card {
	background-image: url("./backgrounds/Warm-Sweater_Card_NH.webp");
	--card-start-color: #fffdfd;
	--card-message-color: var(--card-start-color);
	--card-signature-color: var(--card-start-color);
}

.wedding-card {
	background-image: url("./backgrounds/Wedding_Card_NH.webp");
	--card-start-color: #4c8cba;
	--card-message-color: #68ccd6;
	--card-signature-color: var(--card-start-color);
}

.winter-camellia-card {
	background-image: url("./backgrounds/Winter-Camellia_Card_NH.webp");
	--card-start-color: #fcfcfc;
	--card-message-color: #404b64;
	--card-signature-color: var(--card-start-color);
}

.zen-card {
	background-image: url("./backgrounds/Zen_Card_NH.webp");
	--card-start-color: #ffcf72;
	--card-message-color: #ffe9d6;
	--card-signature-color: var(--card-start-color);
}

@media screen and (max-width: 700px) and (orientation: portrait) {
	.card-zoomable:hover {
		transform: none;
	}

	.card:hover .card-label {
		opacity: 0;
	}
}