@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Varela+Round&family=Noto+Emoji:wght@700&display=swap');
@font-face {
  font-family: "Seurat Pro B";
  src: url("../fonts/FOT-Seurat_Pro_B.otf") format("opentype");
}

html,
body,
#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(to bottom, #a8e063, rgb(255, 236, 185), #A1FFCE, #0ED2F7);
  background: linear-gradient(to top, rgb(255, 236, 185), #A1FFCE, #0ED2F7);
  background: linear-gradient(to top, rgb(255, 236, 185), #A1FFCE, #0ED2F7);
  background-attachment: fixed;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}